:root{
    --branco:#FFFFFF;
    --cinza:#C0C0C0;
    --azul:#167BF7;
    --fundo:#00030C;
    --principal: 'Inter';
}
body{
    background-color: var(--fundo);
    color: var(--branco);
    font-family: var(--principal);
    font-size: 16px;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
.principal{
    background-image: url(Background);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color: var(--azul);
    border-radius: 5px;
    padding: 1em;
    background-color: var(--branco);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco);
}
.container__aviso{
    font-size: 12px;
    color: var(--cinza);
}
.container__titulo{
    font-size: 28px;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container__caixa{
    margin: 0 6em;
}
.secundario__imagem{
    width: 80%;
}
.secundario{
    align-items: center;
    margin: 0 10em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco);
    margin-bottom: 0.1em;
}
.descricao__texto{
    color: var(--cinza)
}
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
font-size: 48px;
color: var(--branco);
}
.lista__item{
    font-size: 32px;
}

